/* start custom scss snippet */
/* h1, h2 태그 크기 조정 */
h1 {
    font-size: 1.5rem; /* 원하는 크기로 설정 */
}

h2 {
    font-size: 1.2rem; /* 원하는 크기로 설정 */
}

.toplist {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    background-color: yellow;
    display: block; /* block으로 변경하여 중앙 정렬 가능 */
    padding: 5px;
    border-radius: 5px;
    margin: 0 auto; /* 좌우 가운데 정렬 */
    width: fit-content; /* 텍스트 크기에 맞게 너비 설정 */
}

@keyframes scaleUpDown {
    0% {
        transform: scale(1); /* 원래 크기 */
    }
    50% {
        transform: scale(1.1); /* 1.1배 확대 */
    }
    100% {
        transform: scale(1); /* 다시 원래 크기 */
    }
}

.myButton {
    box-shadow: 2px 7px 5px 0px rgb(255, 217, 236);
    background: linear-gradient(rgb(243, 32, 138) 5%, rgb(93, 50, 72) 100%), rgb(225, 204, 215);
    background-color: #FFD9EC;
    border-radius: 27px;
    border: 1px solid #d02718;
    display: inline-block;
    cursor: pointer;
    color: white !important;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 15px;
    text-decoration: none;
    text-shadow: 0px -2px 0px #810e05;
    margin: 20px auto;
    text-align: center;
    max-width: 100%;
    
    /* 애니메이션 추가 */
    animation: scaleUpDown 2s infinite; /* 2초마다 확대/축소 */
}

.center {
    text-align: center;
}
/* end custom scss snippet */

